
/* -------  bracket container  ------- */
.bracketContainer {
  height:100%;
  display:flex;
  flex-flow:column wrap;
  border:0.4em solid #f5f5f5;
}

/* -------  region container  ------- */
.regionContainer {
  display:flex;
  flex-basis:50%;
  background:#e4e4e4;
}
.regionContainer:first-child,
.regionContainer:last-child {
  background:#f5f5f5;
}
.gamesList {
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  flex-basis:30%;
}
.gamesList:nth-child(2n) {
  font-size:1.025em;
}

.gamesList:nth-child(2n) .teamContainer {
  padding:16px 0;
}

.gamesList:nth-child(2n) .logoContainer {
  flex-basis:40%;
}

.gamesList:nth-of-type(odd) .teamContainer:nth-of-type(odd) {
  background:#888;
}
.gamesList:nth-of-type(odd) .teamContainer:nth-of-type(even) {
  background:#555;
}
.gamesList:nth-of-type(even) .teamContainer:nth-of-type(odd) {
  background:#999;
}
.gamesList:nth-of-type(even) .teamContainer:nth-of-type(even) {
  background:#666;
}

.regionRight .gamesList:nth-of-type(odd) .teamContainer:nth-of-type(odd) {
  background:#555;
}
.regionRight  .gamesList:nth-of-type(odd) .teamContainer:nth-of-type(even) {
  background:#888;
}
.regionRight  .gamesList:nth-of-type(even) .teamContainer:nth-of-type(odd) {
  background:#666;
}
.regionRight  .gamesList:nth-of-type(even) .teamContainer:nth-of-type(even) {
  background:#999;
}


/*.gameItem .teamContainer:empty:nth-of-type(odd) {
  background:red;
}*/

.regionRight, .regionLeft {
  composes:regionContainer;
}
.regionRight {
  justify-content:flex-end;
  flex-direction:row-reverse;
}
.regionRight .teamContainer {
  flex-direction:row-reverse;
}
.regionRight .infoContainer {
  /*justify-content:flex-end;*/
}

.gameItem {
  font-size:0.725em;
  font-weight:700;
  flex:1;
  display:flex;
  flex-wrap:wrap;
}
.teamContainer {
  width:100%;
  padding:4px 0;
  display:flex;
  align-items:center;
}

.logoContainer {
  flex-basis:20%;
  height:100%;
}
.teamLogo {
  display:block;
  height:100%;
}
.regionContainer:nth-last-of-type(-n+2) .infoContainer {

}
.infoContainer {
  flex-basis:80%;
  display:flex;
  flex-direction:inherit;
}

.teamSeed {
  flex-basis:10%;
  text-align:center;
}
.teamName {

}
.teamLossed {
  composes:teamName;
  position:relative;
}
/*.teamLossed::before, .teamLossed::after {*/

/*.teamLossed::before {*/
.teamLossed::before {
  content:'';
  width:100%;
  height:2px;
  display:block;
  background:#f5f5f5;
  position:absolute;
  right:0;top:50%;
}
.teamLossed::before {
  transform:skewY(-10deg);
}
/*.teamLossed::after {
  transform:skewY(10deg);
}*/
.bullet {
  flex-basis:10%;
  text-align:center;
}
